@use "../variables/color.scss" as *;
@use "../utils/mixins" as *;

footer {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    color: $white-color;
    // height: 100vh;
    padding: 1.25rem 0;
    text-align: center;
    font-size: 1.2rem;
}

#footer-infos {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    flex: 1;
    gap: 1.25rem;
    margin: 4.4rem;

    @include respond-to("laptop") {
        display: flex;
        flex-direction: row;
    }

    a {
        text-decoration: none;
        color: $white-color;
        transition: color 0.4s ease-in-out;
    }

    #footer-social {
        h3 {
            font-size: 3rem;
        }
        h4 {
            font-size: 1.5rem;

            span {
                color: $detail-color;
            }
        }
    
        p {
            margin-bottom: 2rem;
        }
    
        #footer-social-links {
            font-size: 3rem;
            margin: 3rem 0;
            display: flex;
            justify-content: center;
            gap: 3rem;
        }

        @include respond-to("laptop") {
            flex: 1;
            h3 {
                font-size: 2rem;
                text-transform: uppercase;
            }
            p {
                font-size: 1rem;
            }
            #footer-social-links {
                font-size: 2rem;
                transition: color 0.3s ease-in-out;

                & a:hover {
                    color: $detail-color;
                }
            }
        }
    }
}

#footer-links {
    padding: .7rem;
    gap: .6rem;

    & h4 {
        font-weight: 400;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 2rem 0
    }

    & a {
        margin: 0 .5rem;
        font-size: 1rem;
    }
    @include respond-to("laptop") {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        flex: 1;
        gap: 1.5rem;

        h4 {
            margin-top: 0;
        }

        a {
            font-size: 1.5rem;
            transition: color 0.3s ease-in-out;
            align-content: center;

            &:hover {
                color: $detail-color;
            }
        }
    }
}

#footer-contact {
    padding: 0rem;
    gap: 2rem;

    h4 {
        font-weight: 400;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 2rem 0;
    }

    p {
        margin-bottom: 1rem;

        a {
            color: $detail-color;
        }
    }
    @include respond-to("laptop") {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
        flex: 1;

        h4 {
            margin-top: 0;
        }
    }
}

#rights {
    font-size: .8rem;
    @include respond-to("laptop") {
        font-size: 1rem;
    }
}
