@use "../variables/color" as *;
@use "../utils/mixins.scss" as *;

#about {
    background-color: $detail-color;
    color: $white-color;
    margin:0;
    padding: 3rem 2rem 1rem;

    // @include respond-to("tablet") {
    //     height: 100vh;
    // }

    h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        padding-top: 1.5rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 2rem;

        span {
            font-weight: 600;
        };

        &:first-of-type{
            text-indent: 1rem;
            text-align: center;
        }

        &:last-of-type{
            font-size: 1.4rem;

            a {
                font-weight: 600;
                color: $second-detail-color;
                text-decoration: none;
            }
        }
        @include respond-to("laptop") {
            font-size: 1.8rem;
            
            &:last-of-type {
                padding-top: 2rem;
                font-size: 2rem;
            }
        }
    }
}