@use "../variables/color" as *;
@use "../utils/mixins" as *;

#home {
    background-color: $white-color;
    min-height: 100vh;
    padding: 8rem 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #card {
        margin-top: 0rem;
        h1, h2 {
            display: none;
        }

        h3 {
            font-size: 1.8rem;

            @include respond-to("tablet") {
                font-size: 3rem;
            }

            @include respond-to("inter-screens") {
                font-size: 3.5rem;
            }

            span {
                color: $detail-color;
            }
        }
    }
    @include respond-to("laptop") {
        margin: 0 4rem;
        flex-direction: row;
        gap: 2rem;
        text-align: left;
        #card {
            flex: 1;
            h1, h2 {
                display: flex;
                flex-direction: column;
            }
            h1 {
                font-size: 4rem;
                text-transform: uppercase;
            }
            h2 {
                margin-bottom: 2rem;
            }
            h3 {
                font-size: 2rem;
            }
        }
    }
}

#buttons {
    margin: 4rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.3rem;

    @include respond-to("tablet") {
        gap: 1rem;
    }

    @include respond-to("inter-screens") {
            gap: 3rem;
    }

    @include respond-to("laptop") {
        gap: 2rem;
        justify-content: left;
    }

    button {
        background-color: $second-detail-color;
        color: $white-color;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 1.1rem;
        font-weight: 300;
        padding: .625rem;
        border-radius: .3rem;
        border: none;
        transition: background 0.4s ease-in-out;

        @include respond-to("tablet") {
            font-size: 2.2rem;
        }

        @include respond-to("laptop") {
            font-size: 1.6rem;

            &:hover {
                cursor: pointer;
                background-color: $detail-color;
            }
        }
    }
}

#photo-container {
    // margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin: 0rem;
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    @include respond-to("laptop") {
        flex: 1;
        flex-direction: column;
        align-items: end;
        justify-content: end;

        img {
            width: 80%;
        }
    }
}
